<a href="https://colab.research.google.com/github/ambilisunil/python_basics/blob/main/BASICS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATA TYPES**

---

In [ ]:
number=12  # int type
print(number)
print(type(number))

number =12.9
print(number)
print(type(number))

12
<class 'int'>
12.9
<class 'float'>

In [ ]:
#Boolean
number=True
print(number)
print(type(number))

True
<class 'bool'>

True ^ True evaluates to False
True ^ False evaluates to True
False ^ True evaluates to True
False ^ False evaluates to False

In [ ]:
#Boolean operations
a=True
b=False
print(a & b)
print(a | b)
print(a ^ b)
print(not a)
print(a and b)
print(a or b)
print(a ^ b)
print(not a)

False
True
True
False
False
True
True
False

**PRINT**

In [ ]:
msg ="Hello world"
print(msg)

Hello world

In [ ]:
print(" printing varriable msg ",msg)  # using comma operator

 printing varriable msg  Hello world

**sep**: Separator between multiple arguments in print(). Default is a space.

**end**: Defines what is printed at the end. Default is a newline (\n).

In [ ]:
print("ammu","ashok",sep=" and ",end=" are friends")

ammu and ashok are friends

In [ ]:
print('Arul have {} and {} paper'.format("black","white"))

#This Python print() statement uses the .format() method to insert values into placeholders {} within a string

Arul have black and white paper

In [ ]:
nam1="ammu"
nam2="ashok"

print("%s and %s" % (nam1,nam2))

#This Python print() statement uses old-style string formatting (% operator) to insert values into a string.

ammu and ashok

In [ ]:
n=12.8522659
print(n)
print("{:.2f}".format(n))

#This Python print() statement formats a floating-point number to two decimal places using .format().

12.8522659
12.85