<a href="https://colab.research.google.com/github/ambilisunil/python_basics/blob/main/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LISTS**

In [11]:
data=[21,66,8,9]
data

[21, 66, 8, 9]

In [2]:
print(len(data)) #fin lengnth use len(<element>)

4

In [12]:
print(data[0]) #print first element
print(data[1]) #print  element in postion 1

21
66

**append() And pop()   For adding an remiving elemnts from list**

> append() for add


> pop() remove last elmt

In [13]:
print(data)
data.append(2)
data.append(1002)
data.append(300)


print(data)
removed=data.pop()
print("removed",removed)

print(data)

data.append("GGGHGG")

print(data)

[21, 66, 8, 9]
[21, 66, 8, 9, 2, 1002, 300]
removed 300
[21, 66, 8, 9, 2, 1002]
[21, 66, 8, 9, 2, 1002, 'GGGHGG']

**extend()** to add elemnt fro array

In [14]:
print(data)
data.extend([1,2,3])
print(data)

[21, 66, 8, 9, 2, 1002, 'GGGHGG']
[21, 66, 8, 9, 2, 1002, 'GGGHGG', 1, 2, 3]

**Operations**

In [15]:
print(data[:])

[21, 66, 8, 9, 2, 1002, 'GGGHGG', 1, 2, 3]

In [16]:
print(data[1:4])

[66, 8, 9]

**SORT using sort()**

In [22]:
#print(data.sort())  #it will not work bze there are not same type elements

num=[9.6,4,6,3,0]
num.sort()
print(num)

[0, 3, 4, 6, 9.6]

*SORT REVERESE*  **sort(revers=True)**

In [25]:
num=[9.6,4,6,3,0]

num.sort(reverse=True)
print(num)

[9.6, 6, 4, 3, 0]

**count()** :  how many particular elemt exist

In [28]:
q=[1,17,7,1,9,2,1,2,3,7,88,7,7,7]
print(q)
print("1 :  ",q.count(1))
print("2 :  ",q.count(2))
print("8 :  ",q.count(88))

[1, 17, 7, 1, 9, 2, 1, 2, 3, 7, 88, 7, 7, 7]
1 :   3
2 :   2
8 :   1

**IN** to check a elemnt ij list

In [30]:
n=input()

if n in q:
  print(n," is in list")
else:
  print(n," is not in list")

4543
4543  is not in list

traverse

In [32]:
for i in q:
  print(i,end="")

1177192123788777

traverse  **index**

In [41]:
for i in q :
  print(q.index(i),"-",i, end=" , ") # only user indexes if all elemnt having one occurance

0 - 1 , 1 - 17 , 2 - 7 , 0 - 1 , 4 - 9 , 5 - 2 , 0 - 1 , 5 - 2 , 8 - 3 , 2 - 7 , 10 - 88 , 2 - 7 , 2 - 7 , 2 - 7 ,

**enumerate**

In [45]:
for i,value in enumerate(q):  #itteration
  print(i,"-",value,end="  ,  ")

0 - 1  ,  1 - 17  ,  2 - 7  ,  3 - 1  ,  4 - 9  ,  5 - 2  ,  6 - 1  ,  7 - 2  ,  8 - 3  ,  9 - 7  ,  10 - 88  ,  11 - 7  ,  12 - 7  ,  13 - 7  ,

**min(),max(),inser() remove()**

In [55]:
data=[9,7,4,98,4,2,8,1,2,2,2,8,0,3]
print("min : ",min(data))

print("max : ",max(data))
data.insert(1,100)
print("100 is inseted  in 2nd index  ",data)
data.remove(2)
print("2 is removed ",data) #first 2 will remove

min :  0
max :  98
100 is inseted  in 2nd index   [9, 100, 7, 4, 98, 4, 2, 8, 1, 2, 2, 2, 8, 0, 3]
2 is removed  [9, 100, 7, 4, 98, 4, 8, 1, 2, 2, 2, 8, 0, 3]

**split()** : splited data should list,

In [61]:
word= "ambu ammu allu"
print(word.split())
 # by defult split using space


word= "ambu and ammu and allu"
print(word.split(" and "))  #split by and

['ambu', 'ammu', 'allu']
['ambu', 'ammu', 'allu']

**join()**: joint array to form string

In [66]:
arr=["ammu","arul"]
joined=" and ".join(arr)
print(arr," after joined ====> " ,joined)

['ammu', 'arul']  after joined ====>  ammu and arul